name: Create and publish a Docker image

# remember to put the githb Token into the action secrets! (GH_PACKAGE_TOKEN)
# https://docs.github.com/en/actions/publishing-packages/publishing-docker-images#publishing-images-to-github-packages
# https://community.redwoodjs.com/t/containerize-redwood-sides-with-docker-compose/2706
# https://github.com/caprover/caprover/issues/360
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./web/Dockerfile
            image: ghcr.io/pcace/redwood-docker-compose-web
          - dockerfile: ./api/Dockerfile
            image: ghcr.io/pcace/redwood-docker-compose-api
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PACKAGE_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ matrix.image }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

# when both docker images are made and uploaded then add a caprovercfg to branch caprover-deploy
# so that caprover can pick up the change and deploy
# https://github.com/caprover/caprover/issues/360
# https://github.com/ad-m/github-push-action
      - name: Build and push Docker image
        uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      - name: Create local changes
        run: |
          echo "{"schemaVersion": 2,"imageName" : "ghcr.io/pcace/redwood-docker-compose-web:master"}" | tee captain-definition
      - name: Commit captain-definition
        run: |
          git config --local user.email "mail@johannes-froelich.de"
          git config --local user.name "pcace"
          git pull origin captain-definition
          git add captain-definition
          git commit -a -m "Add caprover web"
      - name: Push changes captain-definition
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GH_PACKAGE_TOKEN }}
          branch: caprover-release

      # -name: push to caprover
      # #https://github.com/marketplace/actions/caprover-deploy
      #  uses: AlexxNB/caprover-action@v1
      #  with:
      #    server: 'https://captain.pfcace.de'
      #    password: '${{ secrets.CAPROVER_PW }}'
      #    appname: 'staging'
      #    branch: 'caprover-release'
